<div class="bg">
  <div class="about">
    <img src="/images/buonos-old.jpg" alt="buonos-old">
  </div>

  <div id="home-page-carousel" class="carousel slide" data-bs-ride="carousel">

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/background.jpg" alt="s1" class="d-block" style="width:100%" id="buonos">
        <div class="carousel-caption">
          <h3>Buonos Pizza</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/background.jpg" alt="s2" class="d-block" style="width:100%" id="buonos">
        <div class="carousel-caption">
          <h3>Taste the myth</h3>
        </div> 
      </div>
      <div class="carousel-item">
        <img src="/images/background.jpg" alt="s1" class="d-block" style="width:100% " id="buonos">
        <div class="carousel-caption">
          <h3>Become a legend</h3>
        </div>
      </div>
    </div>

  </div>

  <div class="flex-box">
    <center>
      <a href="/menu" type="button" class="btn btn-success view-menu-button">View the menu</a>
    </center>
  </div>

  <div class="container-fluid favorites">
    <center>
      <h1>Our Specialties</h1>
      <p>🍕__________🍕</p>
    </center>
  </div>

  <div id="home-page-carousel" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#home-page-carousel" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#home-page-carousel" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#home-page-carousel" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#home-page-carousel" data-bs-slide-to="3"></button>
    </div>
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/pizza.jpg" alt="s1" class="d-block" style="width:100%" id="buonos">
        <div class="carousel-caption">
          <p>Neopolotian thin crust</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/pizza.jpg" alt="s2" class="d-block" style="width:100%" id="buonos">
        <div class="carousel-caption">
          <p>Sicillian deep dish</p>
        </div> 
      </div>
      <div class="carousel-item">
        <img src="/images/pizza.jpg" alt="s1" class="d-block" style="width:100% " id="buonos">
        <div class="carousel-caption">
          <p>Calzone</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/pizza.jpg" alt="s2" class="d-block" style="width:100%" id="buonos">
        <div class="carousel-caption">
          <p>Stomboli</p>
        </div> 
      </div>
    </div>
    
  </div>

  <div class="flex-box">
    <center>
      <a href="/menu" type="button" class="btn btn-success view-menu-button">View the menu</a>
    </center>
  </div>

  <div class="container main-footer">
    <center>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Catering</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
      </ul>

      <ul class="nav flex-row social">
        <a href="https://www.facebook.com/buonosgilbert/" class="btn"><i class="icon fa fa-facebook"></i></a>

        <a href="https://www.instagram.com/buonospizzagilbert/?hl=en"  class="btn"><i class=" icon fa fa-instagram"></i></a>

        <a href="https://www.yelp.com/biz/buono-s-pizza-gilbert"  class="btn"><i class=" icon fa fa-yelp"></i></a>

      </ul>

      <h3 class="copy-right">	&copy; 2023 buonos pizza</h3>
    </center>
  </div>
</div>