<div class="container-about">
  <img src="/images/buonos-old.jpg" alt="buonos-old">
  <h1>New York Style since 1989</h1>
</div>
<div class="container-story">
  <center>
    <h1>About us</h1>
  </center>
  <h5>Jimmy and family from the ORIGINAL BUONO'S are BACK.  At Buono's we believe we stay true to NYC style pizza, by using fresh local ingredients. Buono's has been bringing New York-style pizza to Arizona since 1989!  Just like a local NYC neighborhood pizzeria.  We are an independently owned and operated pizzeria restaurant. Joining Jimmy is his fiance Shelly who is a Military Veteran and first responder as an ICU Nurse.</h5>
  <img src="/images/s1.jpg" alt="" class="about-hero">
  <center>
    <h1>Dine in or take out</h1>
  </center>
  <h5>We have worked to package our meals in a way that lets you bring the quality of our meals into your home. We always love to see you in person, but even when we can't we ensure that your dining experience is top notch!</h5>
  <center>
    <h1>Made in store</h1>
  </center>
  <h5>We refuse to compromise.  We use the freshest and finest ingredients.  Our Pizza Dough is made fresh daily in house and we make our sauce in house as well.</h5>
</div>
<center>
  <ul class="nav flex-row social">
    <a href="https://www.facebook.com/buonosgilbert/" class="btn"><i class="icon fa fa-facebook"></i></a>

    <a href="https://www.instagram.com/buonospizzagilbert/?hl=en"  class="btn"><i class=" icon fa fa-instagram"></i></a>

    <a href="https://www.yelp.com/biz/buono-s-pizza-gilbert"  class="btn"><i class=" icon fa fa-yelp"></i></a>
  </ul>

  <h3 class="copy-right">	&copy; 2023 buonos pizza</h3>
</center>