<form action="" id="addCat">
  {{#if loggedIn}}
    <h1>Menu Categories</h1>
    </div>
      {{#each items as |c|}}
        <li><a href="#{{c.id}}">{{ c.name }}</a></li>
      {{/each}}
    </ul>
    <h5>Add new Category</h5>
    <input 
      type="text"
      class=""
      id="name"
      placeholder="Add New Category" />
    </input>
    <button type="submit" class="" id="addCatButton">Submit</button>
  {{/if}}
</form>