<head>
  <style>
    .grid-container {
      display: grid;
      grid-template-columns: auto auto;
      gap: 10px;
      {{!-- background-color: #2196F3; --}}
      padding: 10px;
    }

    .grid-container div {
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
    }

    h1, h2 {
      color: var(--buonos-red);
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
      font-family: var(--buonos-font);
    }


</style>
</head>

<center>
  <h1>CATERING MENU</h1>

<h2>CALL TO ORDER 480 899-1200</h1>

<h2>PORTIONS 1/2 TRAYS FEEDS 10-12 People, Bread Included</h1>

<h3>PASTAS CHOICE OF SPAGHETTI or PENNE</h3>

<h1>PASTAS</h1>

<div class="grid-container">
  <div>MARINARA SAUCE</div>
  <div>$30.00</div>

  <div>GARLIC & OIL</div>  
  <div>$30.00</div>

  
</div>

<h1>ENTREES</h1>

<div class="grid-container">
  <div>BAKED ZITI</div>
  <div>$60.00</div>

  <div>Add Broccoli</div>
  <div>$15.00</div>

  <div>Add Chicken</div>
  <div>$30.00</div>

  <div>RAVIOLI</div>  
  <div>$60.00</div>

  <div>MANICOTTI</div>
  <div>$70.00</div> 

  <div>STUFFED SHELLS</div>
  <div>$70.00</div>

  <div>LASAGNA</div>
  <div>$90.00</div>

  <div>EGGPLANT PARMIGIANA</div>
  <div>$65.00</div> 

  <div>CHICKEN PARMIGIANA</div>
  <div>$70.00</div>

  <div>SAUSAGE, PEPPERS & ONIONS</div>
  <div>$70.00</div>
</div>

<h1>SIDES</h1>

<div class="grid-container">
  <div>SIDE MEATBALLS</div>
  <div>$45.00</div>

  <div>SIDE SAUSAGE</div>
  <div>$45.00</div>
</div>

<h1>APPETIZERS</h1>

<div class="grid-container">
  <div>ZUCCHINNI</div>
  <div>$40.00</div>

  <div>MUSHROOMS</div>
  <div>$40.00</div>

  <div>MOZZARELLA STICKS</div>
  <div>$40.00</div>
</div>

<h1>SALADS</h1>

<div class="grid-container">
  <div>HOUSE SALAD</div>
  <div>$30.00</div>

  <div>ANTIPASTO</div>
  <div>$45.00</div>

  <div>CAPRESE</div>
  <div>$45.00</div>

  <div>CHEF</div>
  <div>$45.00</div>
</div>

<h3>Choice of Bleu Cheese, Italian or Ranch Dressing</h3>

<h1>DESSERTS</h1>

<div class="grid-container">
  <div>ZEPPOLIS</div>
  <div>$50.00</div>

  <div>12 Slices Limoncello</div>
  <div>$60.00</div>

  <div>12 Slices Tirmisu</div>
  <div>$60.00</div>

  <div>12 Slices Cheese Cake</div>
  <div>$70.00</div>

  <div>20 Slices Cheese Cake</div>
  <div>$80.00</div>
</div>

<p>Prices do not include tax. Menu & Pricing are subject to change. Plates & Plasticware are available at an additional cost. Deposit of 20% due at time of ordering. Order requirements minimum of 72 hours. Cancellations 24 hours prior for deposit refund</p>

<br><br>

<p>COPYRIGHT © 2021 BUONO'S GILBERT - ALL RIGHTS RESERVED</p>

<p>SORRY NO CHECKS. GROUPS OF 8 OR MORE 15% GRATUITY. ALL PRICES SUBJECT TO CHANGE WITHOUT NOTICE</p>
</center>
