<form id="addMenuItem">
	<div class="">
		<div class="">
			<div class="">
				<h1 class="">New Menu Item</h1>
				<input 
					type="text"
					class=""
					id="name"
					placeholder="Menu Item Name"/>
				</input>
				<input 
					type="text"
					class=""
					id="description"
					placeholder="Menu Item Description"/>
				</input>
				<select class="" name="categories" 	id="categories">
					{{#each cats as |cat|}}
						<option  value="{{cat.id}}" id="categoryId">{{cat.name}}</option>
					{{/each}}
				</select>
				<button
					type="submit"
					class="">
						Create
				</button>
			</div>
			<div>
        <a href="/menu" id="cancelButton" class="">Cancel</a>
      </div>
		</div>
	</div>
</form>

<script src="/js/createMenuItem.js"></script>