<form id="addCat">
  <div class="">
    <div class="">
      <div class="">
        <table class="">
          <h1 class="">Menu Categories</h1>
            {{#each cats as |cat|}}    
              <p>{{cat.name}}</p>           
            {{/each}}
        </table>       
        <input 
          type="text"
          class=""
          id="name"
          placeholder="Add New Category"/>
        </input>
        <button
          type="submit"
          class=""
          id="addCatButton">
          Submit
        </button>
        <div>
          <a href="/menu" id="cancelButton" class="">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</form>

<script src="/js/createCategory.js"></script>