<form id="addCat">
  <div class="">
    
    <h1 class="">Menu Categories</h1>
    <ul>
      {{#each cats as |cat|}}  
        <li>{{cat.name}}</li>           
      {{/each}}
    </ul>
       
    <input 
      type="text"
      class=""
      id="name"
      placeholder="Add New Category"/>
    </input>
    <button
      type="submit"
      class=""
      id="addCatButton">
      Submit
    </button>
    <div>
      <a href="/menu" id="cancelButton" class="">Cancel</a>
    </div>
  </div>
</form>

<script src="/js/createCategory.js"></script>