<div>
  <center>
    <img src="/images/buonos-logo.jpg" alt="s2" class="d-block" style="width:100%">

    <h1>{{item.name}}</h1>
    <h5>{{item.description}}</h5>
  </center>

  <center>
    <a href="/menu" type="button" class="btn btn-success view-menu-button">⬅️back to menu</a>
  </center>
</div>