{{!-- <div class="login-background">
  <div class="container-login-header">
    <center>
      <h1>Login</h1>
    </center>
  </div>

  <div class="container-login">
    <div class="container-fluid contact">
      <form>
        {{!-- <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name">
        </div> --}}
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary" id="#userlogin">Submit</button>
      </form>
    </div>
  </div>

  <center>
    <ul class="nav flex-row social">
      <a href="https://www.facebook.com/buonosgilbert/" class="btn"><i class="icon fa fa-facebook"></i></a>

      <a href="https://www.instagram.com/buonospizzagilbert/?hl=en"  class="btn"><i class=" icon fa fa-instagram"></i></a>

      <a href="https://www.yelp.com/biz/buono-s-pizza-gilbert"  class="btn"><i class=" icon fa fa-yelp"></i></a>
    </ul>

    <h3 class="copy-right">	&copy; 2023 buonos pizza</h3>
  </center>
</div> --}}