<form id="employeelogin">
  <form action="#" method="post">
    <div>
    <label for="email" class="">Email address</label>
    <div class="">
      <input id="email" name="email" type="email" autocomplete="email" required class="">
    </div>
    </div>

    <div>
    <div class="">
      <label for="password" class="">Password</label>
    </div>
    
    <div class="">
      <input id="password" name="password" type="password" autocomplete="current-password" required class="">
    </div>
    </div>

    <div>
      <button type="submit" class="">Sign in</button>
    </div>

  </form>
</form>
  

<script src="/js/login.js"></script>