<div class="login-background">
  <div class="container-login-header">
    <center>
      <h1>Login</h1>
      <h4>For admin only</h4>
    </center>
  </div>
  <div class="container-login">
    <div class="container-fluid contact">
      <form id="employeelogin">
        <form action="#" method="post">
          <div>
            <label for="email" class="form-label">Email address</label>
            <div class="mb-3">
              <input id="email" name="email" type="email" autocomplete="email" required class="form-control">
            </div>
          </div>
          <div>
            <label for="password" class="form-label">Password</label>
            <div class="mb-3">
              <input id="password" name="password" type="password" autocomplete="current-password" required class="form-control">
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-primary" id="#userlogin">Sign in</button>
          </div>
        </form>
      </form>
    </div>
  </div>
</div>

<br>
<br>
<br>

<script src="/js/login.js"></script>