<div class="login-background">
  <div class="container-login-header">
    <center>
      <h1>Login</h1>
      <h4>For admin only</h4>
    </center>
  </div>
  <div class="container-login">
    <div class="container-fluid contact">
      <form id="employeelogin">
        <form action="#" method="post">
          <div>
            <label for="email" class="form-label">Email address</label>
            <div class="mb-3">
              <input id="email" name="email" type="email" autocomplete="email" required class="form-control">
            </div>
          </div>
          <div>
            <label for="password" class="form-label">Password</label>
            <div class="mb-3">
              <input id="password" name="password" type="password" autocomplete="current-password" required class="form-control">
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-primary" id="#userlogin">Sign in</button>
          </div>
        </form>
      </form>
    </div>
  </div>
</div>
{{!-- <center>
  <ul class="nav flex-row social">
    <a href="https://www.facebook.com/buonosgilbert/" class="btn"><i class="icon fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/buonospizzagilbert/?hl=en" class="btn"><i class=" icon fa fa-instagram"></i></a>
    <a href="https://www.yelp.com/biz/buono-s-pizza-gilbert" class="btn"><i class=" icon fa fa-yelp"></i></a>
    <a href="https://www.yelp.com/biz/buono-s-pizza-gilbert" class="btn"><i class=" icon fa fa-yelp"></i></a>
  </ul>
  <h3 class="copy-right">	&copy; 2023 buonos pizza</h3>
</center> --}}
  
<script src="/js/login.js"></script>