<div class="">
  <div class="">
    <h2 class="">Update {{cat.name}} Category</h2>
  </div>
  <div class="">
    <form class="" id="updateCategory">
      <div>
        <label for="category-name" class="">Category Name</label>
        <div class="">
          <input id="name" type="text" value="{{cat.name}}" class="">
          <input type="hidden" name="cat-id" value="{{cat.id}}"/>
        </div>
      </div>
      <div>
        <button type="submit" class="">Update</button>
      </div>
      <div>
        <button id="deleteButton" data-id="{{cat.id}}" class="">Delete</button>
      </div>
      <div>
        <a href="/menu" id="cancelButton" class="">Cancel</a>
      </div>
    </form>
  </div>
</div>

<script src="/js/updateCategory.js"></script>