<head>
  <link rel="stylesheet" href="/css/updateInformation.css">
</head>

<div class="information-background">
	<div class="container-information-header">
    <center>
      <h1>Update Addons</h1>
      <h4>For admin only</h4>
    </center>
  </div>

	<div class="container-update-item">
		<div class="container-fluid item">
			<form id="addMenuItem">
				<div class="container py-3">
					<h2 class="">Update </h2>
					<div class="">
						<label for="menu-item-name" class="form-label">Menu item name</label>
						<input id="name" type="text" value="{{cat.name}}" class="form-control" placeholder="Menu Item Name...">
					</div>	
					
					<div class="">
						<label for="menu-item-description" class="form-label">
							Menu item description
						</label>
						<input id="description" type="text" value="{{cat.description}}" class="form-control" placeholder="Menu Item Description...">
					</div>

					<div class="d-flex justify-content-evenly">
						<div>
							<button
								type="submit"
								class="btn btn-primary">
									Create
							</button>
						</div>
						
						<div>
							<a href="/menu" id="cancelButton" class="btn btn-warning">
								Cancel
							</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br>
</div>

<script src="/js/createMenuItem.js"></script>