<div class="bg">
  <div class="container-fluid top-stuff">
    <div class="card bg-light container-fluid" style="justify-content: space-between; width: 18rem;">

      <div class="row">
        <div class="d-flex rounded-circle col-4  px-2 align-items-center">
            <div class="row">
                <!-- Add numeration to customer-pic? -->
                <img src="./assets/Images/yelp_profile_image_placeholder.jpeg" id="customer-pic1" style="image-resolution:25%;"alt="">
            </div>

        </div>

        <div class="col-8 text-dark" style="text-align:center; padding-top: 10px;">
          <div class="row py-2">
              <!-- Add numeration to yelp-customer-name? -->
              <p class="h3" id="yelp-customer-name1"></p>
          </div>

          <div class="row">
              <!-- Add numeration for the date-customer? -->
              <p id="date-customer1"></p>
          </div>

        </div>  

      </div> 

      <!-- Add numeration to customer parent customer-start-review? -->
      <div class="px-2 card-body text-dark max-width" id="customer-star-review1">
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
      </div>

      <!-- Add numeration for text review customer-review? -->
      <p class="px-2 card-text scroll" id="customer-review1"></p>
    
      <div class="row bg-light card-footer">
          <img src="./assets/Images/Yelp_Logo.svg.png" class="col-4" alt= "...">
      </div>

    </div>

  </div>

  <div class="container-fluid">
    <div class="card bg-light container-fluid" style="justify-content: space-between; width: 18rem;">

      <div class="row">
        <div class="d-flex rounded-circle col-4  px-2 align-items-center">
            <div class="row">
                <!-- Add numeration to customer-pic? -->
                <img src="./assets/Images/yelp_profile_image_placeholder.jpeg" id="customer-pic1" style="image-resolution:25%;"alt="">
            </div>

        </div>

        <div class="col-8 text-dark" style="text-align:center; padding-top: 10px;">
          <div class="row py-2">
              <!-- Add numeration to yelp-customer-name? -->
              <p class="h3" id="yelp-customer-name1"></p>
          </div>

          <div class="row">
              <!-- Add numeration for the date-customer? -->
              <p id="date-customer1"></p>
          </div>

        </div>  

      </div> 

      <!-- Add numeration to customer parent customer-start-review? -->
      <div class="px-2 card-body text-dark max-width" id="customer-star-review1">
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
      </div>

      <!-- Add numeration for text review customer-review? -->
      <p class="px-2 card-text scroll" id="customer-review1"></p>
    
      <div class="row bg-light card-footer">
          <img src="./assets/Images/Yelp_Logo.svg.png" class="col-4" alt= "...">
      </div>

    </div>

  </div>

  <div class="container-fluid">
    <div class="card bg-light container-fluid" style="justify-content: space-between; width: 18rem;">

      <div class="row">
        <div class="d-flex rounded-circle col-4  px-2 align-items-center">
            <div class="row">
                <!-- Add numeration to customer-pic? -->
                <img src="./assets/Images/yelp_profile_image_placeholder.jpeg" id="customer-pic1" style="image-resolution:25%;"alt="">
            </div>

        </div>

        <div class="col-8 text-dark" style="text-align:center; padding-top: 10px;">
          <div class="row py-2">
              <!-- Add numeration to yelp-customer-name? -->
              <p class="h3" id="yelp-customer-name1"></p>
          </div>

          <div class="row">
              <!-- Add numeration for the date-customer? -->
              <p id="date-customer1"></p>
          </div>

        </div>  

      </div> 

      <!-- Add numeration to customer parent customer-start-review? -->
      <div class="px-2 card-body text-dark max-width" id="customer-star-review1">
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
      </div>

      <!-- Add numeration for text review customer-review? -->
      <p class="px-2 card-text scroll" id="customer-review1"></p>
    
      <div class="row bg-light card-footer">
          <img src="./assets/Images/Yelp_Logo.svg.png" class="col-4" alt= "...">
      </div>

    </div>

  </div>

  <div class="container-fluid bottom-stuff">
    <div class="card bg-light container-fluid" style="justify-content: space-between; width: 18rem;">

      <div class="row">
        <div class="d-flex rounded-circle col-4  px-2 align-items-center">
            <div class="row">
                <!-- Add numeration to customer-pic? -->
                <img src="./assets/Images/yelp_profile_image_placeholder.jpeg" id="customer-pic1" style="image-resolution:25%;"alt="">
            </div>

        </div>

        <div class="col-8 text-dark" style="text-align:center; padding-top: 10px;">
          <div class="row py-2">
              <!-- Add numeration to yelp-customer-name? -->
              <p class="h3" id="yelp-customer-name1"></p>
          </div>

          <div class="row">
              <!-- Add numeration for the date-customer? -->
              <p id="date-customer1"></p>
          </div>

        </div>  

      </div> 

      <!-- Add numeration to customer parent customer-start-review? -->
      <div class="px-2 card-body text-dark max-width" id="customer-star-review1">
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
      </div>

      <!-- Add numeration for text review customer-review? -->
      <p class="px-2 card-text scroll" id="customer-review1"></p>
    
      <div class="row bg-light card-footer">
          <img src="./assets/Images/Yelp_Logo.svg.png" class="col-4" alt= "...">
      </div>

    </div>

  </div>
</div>