.container-about {
  
}

.container-about {
  margin-right: 20%;
  margin-left: 20%;
}

.about-background {
  padding-top: 55px;
}

li {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
}

.container-about-header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.container-about-header h1 {
  font-family: var(--buonos-font);
  color: var(--buonos-red);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 40px;
}

.container-about h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--buonos-font);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container-image img {
  filter: grayscale(20%) blur(2px) brightness(60%);
  width: 60%;
}

.container-image h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--buonos-font);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: var(--buonos-red);
}

.container-about h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--buonos-font);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media (max-width: 768px) {
  .about-background {
    padding-top: 20px;
  }

  .container-about {
    margin-right: 10%;
    margin-left: 10%;
  }

  .container-image img {
    filter: grayscale(20%) blur(2px) brightness(60%);
    width: 85%;
  }
}