.item-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/* .item-background {
  margin-top: 80px;
} */

/* @media (min-width: 768px) {
  .container-item {

  }
  
  .container-item img {
    width: 30%;
    width: 90%;
    height: 200px;
  }

  .item-background {
    padding-top: 55px;
    padding-left: 20%;
    padding-right: 20%;
    height: 100%;
    padding-bottom: 20%;
  }
} */