.container-item img {
  width: 100%;
}

.item-background {

}

@media (min-width: 768px) {
  .container-item {

  }
  
  .container-item img {
    width: 30%;
  }

  .item-background {
    padding-top: 55px;
    padding-left: 20%;
    padding-right: 20%;
    height: 100%;
    padding-bottom: 20%;
  }
}