.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color: var(--buonos-white);
  padding: 10px;
}

.grid-container-2 {
  display: inline-grid;
  grid-template-columns: auto;
  background-color: var(--buonos-white);
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-container p {
  font-size: 20px;
}

.grid-container h5 {
  font-size: 30px;
}


@media (min-width: 768px) {
  .container-menu {
    padding-top: 40px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--buonos-white);
    padding: 10px;
  }

  .grid-container-2 {
    display: inline-grid;
    grid-template-columns: auto;
    background-color: var(--buonos-white);
    padding: 200px;
    padding-top: 25px;
  }
}